* {
    padding: 0px;
    margin: 0px;
}

#box1 {
    position: fixed;
    background: #fafafa;
    width: 100%;
    height: 65px;
    position: absolute;
    border: 1px solid box-shadow:0 2px 10px 0 rgba(0, 0, 0, .1), 0 1px rgba(0, 0, 0, .1);
    border-bottom-style: none;

}

#box1 img {
    padding-left: 269px;
    height: 60px;
}

#box1 p {
    position: absolute;
    bottom: 20px;
    display: inline;
    font-family: \\5FAE\8F6F\96C5\9ED1, v, Arail, Tabhoma;
    font-size: 26px;
    color: black;
}

.lianjie {
    position: relative;
    /* left: 40%;
margin-right: 30px; */
    line-height: 60px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    bottom: 25px;
    border: 3px;
}

#box1 li {
    position: relative;
    list-style: none;
    display: inline-block;
    left: 25%;
    margin-right: 30px;
    /* border-bottom:3px solid; */
    height: 40px;
}

#box1 li {
    border-style: none;
}

#box1 li:hover {
    border-bottom-style: solid;
    border-bottom-color: red;
}


.user-page {
    position: absolute;
}

.user-info {
    height: 500px;
    border-right: 1px solid #bababa;
    font-size: 15px;
    width: 160px;
    padding-right: 10px;
}

.user-tab-list {
    float: left;
}

.user-tab-list {
    width: 100%;
}

.user-tab-list nav a {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #020202;
    font-size: 15px;
    height: 58px;
    line-height: 74px;
    border-bottom: 1px solid #bababa;
    font-weight: 600;
    width: 83%;
}

.list-item {
    padding-left: 26px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/*  p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}  */

.photo-img {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.load-img {
    display: none;
}

.item label {
    width: 100px;
}

.list-item label {
    font-size: 15px;
    font-weight: 600;
    padding-right: 20px;
}

element.style {
    width: 200px;
}

.el-input {
    position: relative;
    font-size: 14px;
}

.el-input,
.el-input__inner {
    width: 100%;
    display: inline-block;
}

.el-input,
.el-input__inner {
    width: 100%;
    display: inline-block;
}

.item {
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}

.list-item label {
    font-size: 15px;
    font-weight: 600;
    padding-right: 20px;
}

.field span {
    margin-right: 5px;
    vertical-align: middle;
}

.field input {
    -webkit-appearance: none;
    padding: 5px !important;
    /* color: black; */
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.submit-userInfo {
    background-color: #ea0f2d;
    color: #fff;
    margin-top: 25px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
}

#userList {
    position: relative;
    top: 66px;
    left: 226px;
}

.list-item {
    position: relative;
    left: 456px;
    top: -405px;
}

.sidea {
    text-decoration: none;

}

.list-item2 {
    padding-left: 26px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    left: 456px;
    top: -405px;
    width: 900px;
}

.usercenter-title2 {
    margin-top: 20px;
    line-height: 30px;
    border-bottom: 1px solid #010101;
}

.item {
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px;
}

.list-item label {
    font-size: 15px;
    font-weight: 600;
    padding-right: 20px;
}

.list-item label {
    font-size: 15px;
    font-weight: 600;
    padding-right: 20px;
}

.el-input[data-v-4267cab6] {
    width: 200px;
}

.el-input {
    position: relative;
    font-size: 14px;
}

.el-input,
.el-input__inner {
    width: 100%;
    display: inline-block;
}

.el-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    width: 200px;
    line-hei11ght: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    cubic-bezier(.645, .045, .355, 1);
}

.item label {
    width: 100px
}

.get-code[data-v-4267cab6] {
    background-color: green;
    text-align: center;
    color: #eee;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 6px;
}

.submit-userInfo {
    background-color: #ea0f2d;
    color: #fff;
    margin-top: 25px;
    text-align: center;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
}

#resetpwd {
    display: none;

    /* position: relative; */
    left: 456px;
    top: -405px;
}

#personal {
    display: none;
}

#conter {
    display: inline;

}

.my-note {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#myq {
    height: 10px;
    padding-bottom: 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.title-list {
    top: 14px;
    position: relative;
    /* left: 400px; */
    height: 20px;
    list-style: none;
    display: flex;
}

.titleli {

    width: 90px;
    text-align: center;
    cursor: pointer;

}

#mynote {
    position: relative;
    left: 482px;
    top: -395px;
    width: 1000px;
    height: 30px;
}

.article {
    width: 903px;
    height: 66px;
}

.line {
    list-style: none;
    position: relative;
    display: inline;
    width: 1000px;
    height: 0px;

}

.linelitype {
    list-style: none;
    position: relative;
    display: inline;
    width: 90px;
    text-align: center;
    cursor: pointer;
    top: -10px;
    left: 590px;
    color: #999;
}

.linelibrowser_num {
    list-style: none;
    position: relative;
    display: inline;
    width: 90px;
    text-align: center;
    cursor: pointer;
    top: -32px;
    left: 769px;
    color: #999;
}

.linelimodify_time {
    list-style: none;
    position: relative;
    display: inline;
    width: 90px;
    text-align: center;
    cursor: pointer;
    top: -32px;
    left: 819px;
    color: #999;
}

#linehtml {
    width: 1000px;
    height: 782px;
}

#linep {
    /* display: inline; */
    /* margin-top: 15px; */
    color: #000;
    cursor: pointer;
    width: 700px;
    height: 10px;
}

.editimg {
    position: relative;
    left: 835px;
    top: -30px;
    cursor: pointer;

}

.linehr {
    position: relative;
    left: 975px;
    top: -55px;
}

.delectimg {
    position: relative;
    left: 985px;
    top: -80px;
}

.linespan {
    display: none;
}